<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ordering Panel</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/truck/index.css">
</head>

<body>
    <div class="tab">
        <div class="ord-number">Order #6001</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="ord-item">Item</th>
                    <th class="ord-price">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ord-item">Sample Dish</td>
                    <td class="ord-price">$155.55555</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="sub-total">Subtotal: </td>
                    <td class="sub-total-amount"></td>
                </tr>
                <tr>
                    <td class="taxes">Taxes: </td>
                    <td class="taxes-amount"></td>
                </tr>
                <tr>
                    <td class="total">Total: </td>
                    <td class="total-amount"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../dist/js/truck/index.js"></script>
</body>

</html>
